html, body {
    margin: 0;
}


body {
    font-size: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    height: 100%
}

.header {
    display: flex;
    align-items: flex-end;
    background-color: #B2A6FF;
    background-image: url('../pics/back-pattern.png');
    padding: 215px 205px 0px;
    font-family: 'Caveat', cursive;
}

.r-corner {
    border-radius: 25px;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.header img {
    width: 90px;
    height: auto;
}

.header h1 {
    margin-bottom: 0px;
    font-size: 60px;
    margin-left: 20px;
    color: #7B3C99;
}

hr {
    width: 60%;
    margin-left: 0;
}

.date {
    color: darkgrey;
}

.subtitle {
    padding-bottom: 30px;
    font-weight: bold;
}

.item {
    background-color: #FCEDBB;
    padding: 35px;
}

.row {
    margin: 30px 0px;
    flex-grow: 2;
}

h3 {
    font-size: 30px;
}

.strikethrough {
    text-decoration: line-through;
}

.menu {
    width: 20%;
    margin-right: 100px;
    text-align: right;
    padding-left: 10px;
    font-size: 25px;
}

.title {
    font-family: 'Caveat', cursive;
    font-size: 40px !important;
}

.menu nav {
    background-color: #B2A6FF;
    background-image: url('../pics/back-pattern.png');
    padding: 20px 40px 30px;

}

.menu ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #9c1ff2;
}

a:visited {
    color: #784c00
}

.container {
    margin-left: 200px;
    margin-top: 90px;
    display: flex;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.col {
    width: 50%;
    padding-right: 100px;
}

#comeback-gif {
    width: 200px;
    height: auto;
}

.a-center {
    text-align: center;
}

.footer {
    margin-top: 100px;
    background-color: #7B3C99;
    padding: 40px 40px 30px;
    margin-bottom: 0px;
    text-align: center;
    position: relative;
    bottom: 0;
    color: #FCEDBB;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

img {
    width: 350px;
    height: auto;
}

.merch {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.merch-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.merch-text {
    text-align: left;
}

.jc-se {
    justify-content: space-evenly;
}

.w-90p {
    width: 90%;
}



.w-405 {
    width: 405px;
}

.w-565 {
    width: 565px;
}

.w-407 {
    width: 407px;
}

.w-450 {
    width: 450px;
}

.w-480 {
    width: 480px;
}

.w-390 {
    width: 390px;
}

.w-370 {
    width: 370px;
}

.w-fc {
    width: fit-content;
    width: max-content;
}

.fw-bold {
    font-weight: bold;
}

.chart {
    padding: 60px 75px;
}

.menu-img {
    text-align: center;
    padding-top: 100px;
}

.contact-icons {
    width: 10%;
}

.grumpy-cat {
    width: 125px;
}
