body {
    margin: 0px;
    font-size: 20px;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    align-items: flex-end;
    background-color: #B2A6FF;
    background-image: url('../pics/back-pattern.png');
    padding: 215px 180px 0px;
    font-family: 'Caveat', cursive;
}

.r-corner {
    border-radius: 25px;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.header img {
    width: 90px;
    height: auto;
}

.header h1 {
    margin-bottom: 0px;
    font-size: 60px;
    margin-left: 20px;
    color: #7B3C99;
}

hr {
    width: 60%;
    margin-left: 0;
}

.date {
    color: darkgrey;
}

.subtitle {
    padding-bottom: 30px;
    font-weight: bold;
}

.item {
    background-color: #FCEDBB;
    padding: 35px;
    margin: 20px 0px;
}

h3 {
    font-size: 30px;
}

.strikethrough {
    text-decoration: line-through;
}

.menu {
    width: 20%;
    margin-right: 100px;
    text-align: right;
    padding-left: 10px;
    font-size: 25px;
}

.title {
    font-family: 'Caveat', cursive;
    font-size: 40px !important;
}

.menu nav {
    background-color: #B2A6FF;
    background-image: url('../pics/back-pattern.png');
    padding: 20px 50px 30px;

}

.menu ul {
    list-style: none;
}

.menu a {
    text-decoration: none;
}

.container {
    margin-left: 200px;
    margin-top: 90px;
    display: flex;
}

.col {
    width: 60%;
    padding-right: 100px;
}

#comeback-gif {
    width: 200px;
    height: auto;
}

.footer {
    margin-top: 100px;
    background-color: #7B3C99;
    padding: 40px 40px 30px;
    text-align: center;
}